#VSCode
.vscode/*

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*.pyc[cod]

# Jupyter Notebook
.ipynb_checkpoints
Coaxial/root.stp
src/__pycache__/Unit.cpython-36.pyc
src/__pycache__/Unit.cpython-36.pyc
